.footer{
    background-color: var(--main-bg-color);

    margin-top: 35px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.footer-column{
    flex: 1;
}

.footer-column_list{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.footer-column_title{
    display: block;
    padding-bottom: 7.5px;

    font-weight: bold;
}

.footer-column_list-item{
    padding: 7.5px 0;
}

@media (max-width: 767.98px){
    .footer{
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }
}