.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav_menu{
    display: flex;
    list-style: none;
    gap: 68px;
    padding: 0;
    margin: 0;
}

.header-img{
    padding: 30px 50px 30px 0;
    height: 19px;
    width: auto;
}

.header-nav_link{
    padding-top: 14px;
    /* to have the link taking all the space in the li */
    display: block;

    border-bottom: 0px;
    /* to not have the height change when the border is set on hover */
    border-top: 2px solid transparent;
}

.header-nav_link:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .header{
        flex-direction: column;
        align-items: center;
    }

    .header-img{
        padding: 30px;
    } 

    .header-nav{
        width: 100%;
    }

    .header-nav_menu{
        gap: 0;
    }

    .header-nav_menu-item{
        width: 50%;

        text-align: center;
    }
    
    .header-nav_link{
        padding-bottom: 15px;
        padding-top: 0;

        border-top: 0;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .header-nav_link:hover{
        color: var(--main-color);
    }
}