/***header nav ****/


header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
  }
  
  header #logo {
    padding-left: 30px;
  }
  
  header #logo img {
    width: 50px;
    padding-top: 20px;
  }
  /*****MENU NAV Hebergements ACTIVITES******/
  header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  header nav ul li {
    padding: 25px;
    border-top: 2px solid transparent;
    margin: 0px 20px 0px 20px;
  }
  
  header nav ul li:hover {
    border-color: #256dd7;
  }
  header nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  header nav ul li:hover a {
    color: #0065fc;
  }

  
  /*Small devices (*/
@media (max-width: 768.98px) {
    .titre-Filtres {
      padding-right: 100%;
    }

  #logo {
    margin-left: 110px;
  }
  header {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
  }
  header nav ul li {
    border-top: none;
    padding-right: 20px;
    border-bottom: 2px solid transparent;
    margin: 0px 20px 0px 20px;
  }

  header nav ul li:hover {
    border-color: #256dd7;
  }

