/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  body {
    max-width: 767.98px;
    margin: 0 auto;
  }
  .main-container {
    padding: 0px;
  }
  .cherche {
    padding: 0 30px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    row-gap: 20px;
  }
  .titre h1,
  .titre p {
    font-size: 22px;
    padding: 0 30px;
  }

  /* le buttonHeader */
  .buttonHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
  }
  .title-navbar:hover {
    border-top: none;
    border-bottom: solid 3px var(--main-color);
  }
  .hebarg:hover {
    color: var(--main-color);
  }
  .buttonHeader a:hover {
    border-top: none;
  }

  .title-navbar {
    padding-bottom: 20px;
    width: 50%;
    border-bottom: solid 3px var(--main-bg-color);
    text-align: center;
  }

  .titre p {
    margin-top: 11px;
    font-size: 16px;
  }

  /* from*/

  .input {
    width: 80%;
  }

  /* le btn de recherche */
  .recherche span {
    display: none;
  }

  /*  la loupe le btn de recherche */
  .recherche i {
    display: block;
    color: #ffff;
  }

  .recherche {
    width: 60px;
    border-radius: 20px;
    margin-left: -18px;
  }
  .from-recherche {
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
  }

  /* block*/

  .block {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .filtreOptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
  }
  .hebergements-and-populaires {
    margin-top: 0;
  }
  .hebergements-and-populaires section {
    border-radius: 0px;
    margin-top: 0;
  }
  .populaires {
    background-color: var(--main-bg-color) !important;
  }
  .populaires-cards img {
    width: 40%;
  }
  .populaires-cards {
    flex-direction: column;
    align-items: center;
  }
  .populaires-cards .card {
    display: flex;
    margin-top: 25px;
    width: 90%;
  }

  .populaires-title {
    display: flex;
    align-items: center;
    padding: 12px 10px;
  }
  .orderHebergement1 {
    order: 1;
  }
  .orderHebergement2 {
    order: 2;
  }
  .orderHebergement3 {
    order: 3;
  }
  .hebergements {
    order: 2;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 8px;
  }
  .maisons {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
  }
  .maisons a {
    width: 90%;
  }
  .maison {
    margin: 0px;
  }
  .maison img {
    height: 170px;
  }
  .hebergementInfo {
    row-gap: 10px;
    padding-left: 29px;
  }

  .hebergements-and-populaires section {
    background-color: transparent;
  }
  .hebergements h2 {
    font-size: 22px;
    padding: 30px 0px 4px 23px;
  }

  .hebergementsHref span b {
    font-size: 16px;
  }
  .hebergementsHref {
    margin: 18px 0px 3px 19px;
  }
  .section-title {
    font-size: 22px;
  }

  /*Activites à Marseille */
  .ActivitesaMarseille h2 {
    font-size: 22px;
  }

  .ActivitesaMarseille {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 30px;
  }

  .lesActivites {
    display: flex;
    flex-direction: column;
    width: 85%;
    grid-gap: 32px;
  }

  .activites {
    border-radius: 20px;
  }
  .activites img {
    height: 208px;
  }

  .activites h6 {
    margin: 19px 17px 1px 18px;
  }

  .photoMobil {
    display: block;
  }

  footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 0 0 0;
  }
  footer ul {
    row-gap: 11px;
    padding-left: 30px;
  }
}
@media (max-width: 500px) {
  .maison img {
    height: 118px;
  }
  .hebergements {
    margin-bottom: 0px;
  }
}
/* for small  mobile  */
@media (max-width: 400px) {
  .titre h1 {
    font-size: 16px;
  }
  .titre p {
    font-size: 14px;
    margin-top: 11px;
  }

  .filtreOptions {
    padding: 0 30px;
    width: 80%;
  }
  .titreFiltre h1 {
    font-size: 17px;
    padding-left: 10px;
  }
  .block-Filtres p a {
    font-size: 13px;
  }
  .hebergements h2,
  .section-title {
    font-size: 17px;
  }
  .hebergements h2 {
    padding-left: 17px;
  }
  .populaires-title {
    padding: 0;
  }
  .maison img {
    height: 102px;
  }
  .hebergements {
    margin-bottom: 0;
  }
  .activites img {
    height: 110px;
  }
  .lesActivites {
    width: 80%;
  }
}
