

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: #F2F2F2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.no-link {
    color: #000;
    text-decoration: none;
}

h1, h2, H3 {
    font-weight: bold;
}

.hidden {
    display: none;
}

.label-filtre, .lien-afficher {
    font-weight: bold;
}


/****** header **********/

header{
    width: 100%;
    margin-bottom: 30px;
}

.headerbooki{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.logo-header{
    width: 60px;
    padding: 30px;
    margin-top: -15px;
}

.lien-header{
    margin-right: 25px;
}

.lien-header a {
    padding: 15px 25px;
    text-decoration: none;
    color: var(--noir);
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}

.lien-header a:hover {
    border-top: 5px solid var(--main-color);
    color: var(--main-color);
}

/****** Info group ***********/

.info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch; 
    margin-bottom: 35px;
}

.group1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

#search-form {
    display: flex;
    width: 377px;
    border-radius: 15px;
    background: var(--white, #FFF);
}


#search-input {
    flex: 1;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
    padding: 0px 24px;
}

#search-button {
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--white, #FFF); 
    font-size: 18px;
    font-weight: 700;
}

.infobar{
    display:flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 16PX;
} 

.checkbox-filtre {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox-filtre div {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items:center ;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    color: var(--black, #000);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.checkbox-filtre div:hover{
    background-color: #DEEBFF;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 40px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-content .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;  
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 57%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activitéss à Marseille ***********/

.Activité-Marseille {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
    gap: 30px;

}

.Activité-Marseille-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
   
}

.card-activité {
    width: 100%;
    background-color: white;
    border-radius: 20px ;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.Activité-Marseille img {
    width: 100% ;
    height: 85%;
    border-radius: 20px 20px 0px 0px;
}


.Activité-Marseille h3{
    padding: 20px 19px;
}

/****** Footer***********/

footer {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif
}

footer div {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .label-filtre {
        
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}