
@import url(header.css);
@import url(main.css);
@import url(footer.css);

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
^    set color variables 
*/

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --light-blue: #deebff;
  -blue: #0065fc;
  --light-blue: #deebff;
  --grey: lightgrey;
  --dark-grey: dimgrey;
  --light-grey: #f2f2f2;
  --white: white;
  --green-fluo: #39ff14;
}
/*  
*   hidden <label> position for accessibility       
*/
.accessibility-label {
  position: absolute;
  left: -999px;
}

main,
header,
footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}


    body {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }
    
        /*** MAIN ***/
    .main{
        margin-top: 30px ;
    }
    
    .main .main_text{
        margin-top: 10px;
    }

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 24px;
    font-weight: bold;
}



a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 15px;
  padding-left: 10px;
}


.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
.line {
  color: #0065fc;
}

#icon-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 10px;
}
.titre-1 {
    display: flex;
    justify-content: baseline;
  }
  

.btn-search {
  padding-left: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
  color: #0065fc;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}

/***header nav ****/


header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

header #logo {
  padding-left: 30px;
}

header #logo img {
  width: 50px;
  padding-top: 20px;
}
/*****MENU NAV Hebergements ACTIVITES******/
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  padding: 25px;
  border-top: 2px solid transparent;
  margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
  border-color: #256dd7;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

header nav ul li:hover a {
  color: #0065fc;
}

/* 
^----------------------
*      SEARCH BAR     
^----------------------
*/

form {
  display: inline-block;
  width: 50%;
}

form i {
  background-color: rgb(247, 243, 243);
  padding: 12px 12px;
  border-radius: 12px 0 0 12px;
  width: 50px;
  padding-left: 20px;
}

form input {
  border: 1px solid var(--light-grey);
  font-size: 16px;
  font-weight: bold;
  padding: 8px 0 7px 10px;
  margin-left: -5px;
  width: 146px;
  height: 38px;
}

form input::placeholder {
  color: black;
}

form input:hover {
  background-color: var(--light-blue);
}

form button {
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  border: none;
  margin-left: -5px;
}

form button:hover {
  box-shadow: 1px 1px 10px var(--dark-grey);
  background-color: dodgerblue;
}
/* 
*       make the magnifying glass disappear 
*/
.fa-solid.fa-magnifying-glass {
  display: none;
}

/***filtres**/

.filters {
  display: inline-flex;
  padding-top: 18px;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}

.filters h3 {
  margin-right: 20px;
  margin-inline-start: 5px;
}

.btn-filter p {
  margin: 0;
  padding-right: 20px;
  cursor: pointer;
}

.btn-filter {
  font-weight: bold;
  border: 1px solid var(--light-blue);
  border-radius: 30px;
  border-left: none;
}

.btn-filter:hover {
  background-color: var(--light-blue);
  box-shadow: 0 0 8px var(--blue);
}

.btn-filter .fa-solid {
  background-color: var(--main-bg-color);
  border-radius: 30px;
  color: #0065fc;
}
.btn-filter:hover {
  box-shadow: 10px 10px 8px var(--light-blue);
}

.btn-filter .fa-child-reaching {
  padding: 14px 17px 14px 17px;
  margin-right: 10px;
  color: var(--blue);
  color: #0065fc;
}

.btn-filter .fa-heart,
.fa-fire,
.fa-money-bill-wave {
  padding: 14px 14px 14px 14px;
  margin-right: 10px;
}
/*
*        barre d'information
*/
#icon-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fa-solid.fa-info {
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  color: var(--blue);
  height: 25px;
  width: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: #0065fc;
}

/****Hebergements à Marseille**/


.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.box1 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(3px 3px 15px rgb(226, 219, 219));
}

.box1 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
}
.box1 .card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box1:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}

.box2 {
  margin-top: 30px;
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box2 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box2 .card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box2:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}
.box3 {
  margin-top: 30px;
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box3 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box3.card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box3:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box4 {
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box4 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box4.card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box4:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box5 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box5.card-content {
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box5 {
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box5:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box6 {
  background-color: white;
  width: 201px;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box6 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box6.card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box6:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}

.card-rating {
  color: #0065fc;
  margin-left: 10px;
  padding-bottom: 10px;
}
h3.card-title {
  margin:0;

}

p.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-rating {
  color: #0065fc;
  margin-left: 10px;
  padding-bottom: 10px;
}
h3.card-title {
  margin: 0px;
}
p.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/****Activités à Marseille**/
h4 {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
div.gallery {
  border: 1px solid #ccc;
  width: 100%;
  height: 250px;
  border-radius: 12px 12px 12px 12px;
}

div.gallery:hover {
  border: 1px solid #39ff14;
}

div.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

div.desc {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.desc1 {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.desc2 {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

h6 {
  font-size: 11px;
  font-weight: bold;
  padding-left: 10px;
}
* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

#icon-info {
  display: flex;
  justify-content: left;
}

.filters {
  padding-bottom: 100%;
}

.filters {
  display: flex;
  padding: 20px;
  font-size: 15px;
  padding-top: 20px;
  padding-right: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btn-filter p {
  display: inline-block;
  flex-direction: column;
  margin: 0px;
  padding-right: 5px;
  cursor: pointer;
}
.titre-1 {
  padding-left: 20px;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  margin-top: 300px;
  margin-bottom: 20px;
}
.footer-left {
  margin-top: 20px;
  padding-left: 20px;
  line-height: 20px;
}
.footer-midle {
  margin-top: 20px;
  line-height: 20px;
}
.footer-right {
  margin-right: 400px;
  padding-left: 20px;
  margin-top: 20px;
  line-height: 20px;
}
p {
  margin-bottom: 10px;
}
.afficher {
  margin-top: 100px;
  font-size: 15px;
  font-weight: bold;
}
h2 {
    /**
    font-size: 20px;
    **/
    width: 100%;
    font-weight: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10p

}



/**********************FIN DE LAPTOP*************************************/
/****************************************************************************************/
/*******************************************************************************************/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .footer {
    height: auto;
    gap: 80px;
  }

  .main-container {
    padding: 0px;
  }
 
  a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  h6 {
    font-size: 11px;
    margin-bottom: 10px;
  }

  

/***************FIN DE TABLETTE*************************************/
/*************************************************************************/
/*********************************************************************************/
/*Small devices (*/
@media (max-width: 768.98px) {
  .titre-Filtres {
    padding-right: 100%;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0;
    }
    
    /* MAIN */
    .main{
        margin-top: 45px;
        margin-bottom: 0;
        padding: 0 20px;
    }
   

  section.hebergements {
    width: 100%;
    margin-left: 10px;
  }


  .fa-solid.fa-magnifying-glass {
    display: flex;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 0 10px 10px 0;
  }
  form button {
    display: none;
    cursor: pointer;
  }
  .btn-search {
    display: flex;
    flex-direction: row;
  }
 

  .container-grid {
    display: flex;
    flex-direction: column;
    column-gap: normal;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  #logo {
    margin-left: 120px;
  }
  header {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
  }
  header nav ul li {
    border-top: none;
    border-bottom: 2px solid transparent;
    margin: 0px 20px 0px 20px;
  }

  header nav ul li:hover {
    border-color: #256dd7;
  }

  .footer-left {
    margin-top: 20px;
    padding-left: 30px;
    line-height: 50px;
  }
  .footer-midle {
    margin-top: 20px;
    line-height: 50px;
  }
  .footer-right {
    margin: 0%;
    margin-top: 20px;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .btn-search {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 100%;
  }
 
  .populaires-cards {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  .responsive {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  article.card {
    width: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    min-width: 300%;
  }
  section.hebergements {
    background-color: white;
  }

  input#search{
    width: 200px;
    padding-left: 50px;
  }
  .btn-search{
    width: 100%;
    margin-left:20px;
    padding-right: 20px;
  }
  .filters{
    width: 100%;
    margin-left: 100px;
  
  }
.footer{
    display: flex;
    flex-direction: column;
     margin-top: 25px;
}
html{
    display: flex;
    width: 375px;
   justify-content: center;
   padding-left: 120px;
   margin-left: 100px;
   margin-right: 120px;
    height: 100%;
   
   
}
.section-title{
    padding-left: 20px;
    font-size: 20px;
   
    
}
h2 {

    font-size: 20px;
    width: 375px;
    font-weight: 20px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10p

}
.titre-1 {
  margin-left:50px;
  margin-top: 10px;

  }

  h5 {
    
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    
  }
  .footer-left{
    font-size: 20px;
    font-size: 30px;

  }
  .footer-midle{
    font-size: 30px;
    margin-left: 20px;
    line-height: 50px;
      
  }
  .footer-right {
    padding-left: 20px;
    font-size: 30px;
    padding-bottom: 100px;
    line-height: 50px;
  }
}
}