/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 50px 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/******Header******/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -60px;
}

.logo {
    padding-top: 40px;
    width: 60px; 
}

/******Navigation******/

.button-header {
    display: flex;
    gap: 60px;
    padding-top: 20px;
    border-top: 2px solid transparent;

}

.button-header a:hover{
    cursor: pointer;
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
    padding-top: 18px;
    margin-top: -20px;
}

/******hébergements******/

.hebergements-container {
    display: flex;
    flex-direction: column;
}

.hebergements-container h1{
    margin-top: 60px;
    margin-bottom: -5px;
}

.hebergements-container p{
    margin-bottom: 30px;
}

.hebergements-search{
    display: flex;
    flex-direction: row;    
}

.fa-location-dot{
    color: black;
    background-color: var(--main-bg-color);
    padding : 15px 15px 15px 18px;
    border-radius: 13px 0px 0px 13px;
}

#booki-search{
    padding: 13px;
    width: 150px;
    border-top: 2px var(--main-bg-color) solid;
    border-bottom: 2px var(--main-bg-color) solid;
    border-left: var(--main-bg-color) solid;
    border-right: white; 
    text-align: center;
}

#booki-search::placeholder{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.search-button{
    color: white;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 0px 13px 13px 0;
}

.fa-magnifying-glass{
    display: none;
}

.hebergements-filters{
    display: flex;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filter-title{
    margin-top: 15px;
}

.filter-text{
    display: flex;
    margin-left: 10px;
    border: 2px var(--main-bg-color) solid;
    padding : 12px;
    border-radius: 40px;
}

.filter-text:hover{
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-text .fa-solid{
    font-size: 20px;
    margin-left: 5px;
}

.filter-text span{
    margin-left: 10px;
} 

.filter-info{
    display: flex;
    align-items: first baseline;
    gap: 10px;
}

.filter-info .fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px var(--main-bg-color)solid;
    margin-top: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 12px;
    flex-shrink: 0;
}


/******Main******/

#section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2{
    margin-top: -5px;
}

.hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hebergement-cards .card{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 215px;
}

.hebergement-cards a{
    width: 30%;
}

.hebergement-cards img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergement-cards .card-content{
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.hebergement-cards .card-subtitle{
    margin-top: 0px;
    margin-bottom: 5px;
}

.hebergement-cards .card-rating{
    margin-bottom: 0px;
}


#afficher-plus{
    font-weight: bold;
    margin-top: 30px;
    padding-top: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ********/

#activites {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.activites-cards{
    display: flex;
}

.activites-cards a{
    width: 25%;
    margin-left: 30px;
    margin-right: -40px;
}

.activites-cards .card{
    width: 86%;
    margin: 0px;
    padding: 0px;
}

.activites-cards img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
}

.activites-cards .card-title{
    margin-left: 15px;
    padding-bottom: 20px;
    height: 20px;
}


/****** Footer ***********/

.footer-container {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 30px;
    margin-bottom: -60px;
}

.informations-column{
    display: flex;
    flex-direction: row;
    gap: 80%;
    padding-left: 25px;
    width: 30%;
}

.informations {
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.informations h3{
    margin-bottom: 0px;
    width: 180%;
}


.informations span{
    margin-top: -15px;
    width: 180%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*navigation*/
    .button-header{
        font-size: 15px;
        gap : 50px;
    }

    /*filters*/ 
    .hebergements-container h1{
        font-size: 20px;
    }

    .hebergements-container p{
        font-size: 14px;
    }

    #booki-search{
        width: 140px;
    }

    .hebergements-filters{
        display: flex;
        flex-direction: column; 
        gap: 12px;
        margin-top: 25px;
    }

    .filters{
        margin-top: 20px;
        margin-left: -10px;
    }

    /*main*/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /*hébergements*/

    .hebergements {
        width: 100%;
    }

    .hebergement-cards {
       display: flex;
       gap: 17px;
    }

    /*populaires*/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*Activités*/

    .activites-cards .card{
        width: 80%;
    }

    .activites-cards img{
        width: 100%;
        height: 180px;
    }
  
    .activites-cards .card-title{
        font-size: 15px;
        margin-top: 25px;
        height: 20px;
        display: flex;
        align-items: center; 
    }

    /*footer*/

    .informations-column{
        width: 22%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 40px 15px;
    }

    .hebergements-and-populaires{
        margin-left: -25px;
        margin-right: -20px;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
    }

    /* header */
    .header{
        display: flex; /* Active Flexbox */
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        margin-left: -25px;
        margin-right: -25px;
    }

    .logo{
        margin-bottom: 20px;
    }

    /*Navigation*/

    .button-header{
        font-size: 18px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button-header a{
        width: 50%;
        text-align: center;
        margin-right: -25px;
        margin-left: -25px;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 14px;
    }

    .button-header a:hover{
        border-top: white;
        padding-top: 20px;
        border-bottom: 2px var(--main-color) solid;
        margin-bottom: 0px;
    }

    /*filters*/

    .hebergements-container h1{
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: -10px;
    }

    .hebergements-container p{
        font-size: 18px;
    }

    .search-button {
        display: none;
    }
    
    .hebergements-search{
        width: 100%;
    }

    #booki-search{
        width: 100%;
        text-align: start;
        margin-right: -10px;
        padding-left: 25px;
        
    }

    #booki-search::placeholder{
        font-size: 17px;
    }


    .fa-magnifying-glass {
        display: flex;
        color: white;
        background-color: var(--main-color);
        border: 2px #0065FC solid;
        padding: 15px;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.3));
    }

    .hebergements-filters{
        margin-right: -25px;
    }

    .filter-title{
        margin-bottom: -20px;
        font-size: 18px;
    }

    .filters{
        flex-wrap: wrap;
        width: 100%;
    }
    
    .filter-text{
        margin: 5px;
        width: 40%;
    }

    .filter-info .fa-solid{
        margin-top: 20px;
    }

    /*hébergement*/

    .hebergements{
        background-color: white !important;
    }

    .hebergement-cards{
        flex-direction: column;
    }

    .hebergement-cards .card{
        width: 100%;
    }

    .hebergement-cards a{
        width: 100%;
    }


    /*Populaires*/
   
    
    .populaires-cards {
        width: 100%;
        flex-direction: column;
        
    }

    .populaires-cards a{
        width: 100%;
    }

    /*activités*/


    .activites-cards {
        flex-direction: column;
        margin-left: -15px;
    }

    .activites-cards .card{
        width: 100%;
    }

    .activites-cards a{
        width: 90%;
    }
    

    /*footer*/

    .informations-column{
        flex-direction: column;
        font-size: 18px;
        width: 100%;
    }
}