/**** Desktop ****/

*{
    font-family: Raleway, sans-serif;
    color: black;
}

body{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: #000000;
}

a:visited{
    color: #000000;
}

h1{
    font-size: 22px;
    font-weight: 700;
    margin:0;
}

h2{
    font-size: 18px;
    font-weight: 700;
    margin:0;
}

p{
    font-size: 16px;
    font-weight: 400;
    margin:0;
}

/*** Header ***/

header{
    display: flex;
    width:100%;
    height:79px;
    justify-content: space-between;
}

.logo{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 79px;
    padding: 30px 50px 30px 50px
}

.logo img{
    height: 19px;
}

nav{
    height: 35px;
    display: flex;
    gap: 68px;
    padding: 0 50px;
}

nav a{
    height: 35px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

 nav a:hover{
    border-top:#0065fc 2px solid;
    color: #0065fc;
 }

 /*** Main ***/

 main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 50px;
    margin: 0 auto;
 }

/**Headline**/

 .headline{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

/*Search bar*/

 .search-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:49px;
    width:377px;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
 }
 
.search-bar i{
    border: 1px #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    width:50px;
    height:49px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 18px;
    color:#000000;
}

.search-bar form{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:49px;
    width: 100%;
}
    

.search-bar form input[type="search"]{
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height:49px;
    width: 100%;
    padding: 15px 16px 15px 16px;
    color:#000000;    
}

::placeholder {
    width: 100%;
    color: #000000;
    opacity: 1; /* because Firefox applies a lower opacity filter automatically */
}

.search-button{
    background-color: #0065fc;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height:49px;
    padding: 15px 16px 15px 16px;
    color:#ffffff;
}

.search-button:hover{
    cursor: pointer;
}

/*Filter bar*/    

.filter-bar{
    display: flex;
    gap:15px;
    align-items: center;
    height: 50px;
}

.filters{
    display:flex;
    gap:15px;
    align-items: center;
    height: 50px;
}

.filter-bar button{
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    gap:10px;
    align-items: center;    
    height: 50px;
    padding: 4px 19px;
}

.filter-bar button i{
    color: #0065fc;
}
.filter-bar button:hover{
    background-color: #deebff;
    cursor: pointer;
}

.info-bar{
    height:24px;
    width:100%;
    display: flex;
    gap:10px;
}

.info-bar i{
    color: #0065fc;
    border : 1px #d9d9d9 solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    font-size: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.info-bar p{
    display: flex;
    align-items: center;
}

/**Hébergements & popular**/

.lodgings-and-popular{
    display: flex;
    gap: 40px;
    width: 100%;
}

.lodging-rating{
    display: flex;
    margin-top:auto;
}

.fa-solid.fa-star{
    font-size:12px;
    color: #0065fc;
}

.fa-solid.fa-star.unrated{
    font-size:12px;
    color: #f2f2f2;
}

/*popular section*/

.popular{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width:429px;
}

.section-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-header i{
    color: #0065fc;
    font-size: 18px;
}

.popular-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.popular-lodging-card{
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display : flex;   
    overflow: hidden;
    position: relative; 
    width: 100%; 
    box-sizing: border-box;
}

.popular-lodging-card img{
    width: 123px;
    height: 146px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    object-position:center;
    flex:none;    
}

.popular-lodging-card .card-info{
    padding:10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    gap:24px;
    box-sizing: border-box;
}

.popular-lodging-card .card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 85px;
}

.popular h2{
    font-size: 16px;
}

.popular p{
    font-size: 14px;
}

/*Hébergements à Marseilles section*/

.lodgings{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 15px;
    background-color: #f2f2f2;
    flex-grow: 1;
}

.lodgings h1{
    height: 26px;
}

.lodgings-marseille h2{
    font-size: 16px;
}

.lodgings-marseille p{
    font-size: 14px;
}

.lodgings-marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.lodging-card-marseille {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 15px;
    width: 100%;
    height:100%;
}

.lodging-card-marseille img {
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    object-position: center;   
}

.lodging-card-marseille .card-info{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.lodging-card-marseille .card-text{
    display: flex;
    flex-direction: column;
    gap:8px
}

/**Activités**/

.activities{
    width: 100%;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-sizing: border-box;
}

.activity-card h2{
    font-size: 16px;
}

.activity-card-text{
    padding: 20px 19px;
}

.activities-Marseille {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activity-card{
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display : flex;
    flex-direction: column;
    width:100%;
    height: 100%;
}

.activity-card img{
    height: 380px;
    width:100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    object-position:center;   
}

/*** Footer ***/

footer{
    display: flex;
    margin: 35px 50px 0 50px;
    background-color: #f2f2f2;
}

footer section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

footer a{
    font-size: 16px;
}


/*****Tablette*****/

@media all and (max-width:1024px) and (min-width:767px){

    body{
        min-width: 768px;
        max-width:1024px;
    }

    .filter-bar {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .filter-bar button{
        font-size: 16px;
    }

    .lodgings-marseille{
        gap: 30px;
        justify-content: space-between;
    }

    .lodgings-and-popular{
        display:flex;
        flex-direction: column;
        gap:50px;
    }
    
    .lodgings{
        width:auto;
    }

    .popular{
        gap:20px;
        width: auto;
    }

    .popular-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .popular-lodging-card img{
        width:91.56px;
    }

    .activities img{
        height:200px;
    }

}

/*****Téléphone*****/

@media all and (max-width:767px) and (min-width: 320px) {
    body{
        min-width: 320px;
        max-width:768px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    header{
        flex-direction: column;
        height:auto;
    }

    .logo{
        padding:30px;
    }

    nav{
        height:auto;
        gap : 15px;
        padding: 0;
    }

    nav a{
        align-items: flex-start;
        width: 100%;
        justify-content: center;
    }

    nav a:hover{
        border-top: none;
        border-bottom: #0065fc 2px solid;
    }

    main{
        padding:0;
        margin:30px 0 0 0;
    }

    .headline{
        padding:0 20px;
        box-sizing: border-box;
    }

    .search-bar{
        width:100%;
    }

    .search-bar form input[type="search"]{
        text-align: start;
    }

    .search-button{
        font-size:0;
        border: #0065fc 1px solid;
        border-radius: 15px;
        padding:15px 16px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .search-button::before{
        content:"\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size:17px;
        color: #ffffff;
    }

    .filter h2{
        text-align: left;
    }

    .filter-bar{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .filters{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        gap:20px;
        width:100%;
        box-sizing: border-box;
    }

    .filters button{
        width: 100%;
        font-size: 14px;
    }

    .lodgings-and-popular{
        flex-direction: column-reverse;
        gap:15px;
    }

    .popular{
        border-radius: 0;
        padding: 30px 20px;
        gap:15px;
        width:auto;
    }

    .popular-cards{
        gap:15px;
    }

    .popular-lodging-card img{
        width: 111.67px;
        height:136px;
    }

    .lodgings{
        background-color:#ffffff;
        border-radius: 0;
        padding: 20px;
        gap:15px;
        width:auto;
    }

    .lodgings-marseille{
        display: flex;
        gap:15px;
        flex-direction: column;
        width: auto;
    }

    .lodging-card-marseille{
        width: auto;
    }

    .activities-Marseille{
        display: flex;
        gap:15px;
        flex-direction: column;
    }

    .activity-card{
        height:auto;
        width:100%;
    }

    .activity-card img{
        height:141px;
    }

    footer{
        flex-direction: column;
        margin: 0;
        padding:30px;
        gap:50px;
        height:100%;
    }

    footer section{
        padding:0;
}
}