/**** Global ****/
*{    font-family: Raleway, sans-serif;
    color: black;}

body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #000000;
}

a:visited{
    color: #000000;
}

h1{
    font-size: 22px;
    font-weight: 700;
    margin:0;
}

h2{
    font-size: 18px;
    font-weight: 700;
    margin:0;
}

p{
    font-size: 16px;
    font-weight: 400;
    margin:0;
}

/*** Header ***/

header{
    display: flex;
    width:100%;
    height:79px;
    justify-content: space-between;
}

.logo{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 79px;
    padding: 30px 50px 30px 50px
}

.logo img{
    height: 19px;
}

nav{
    height: 35px;
    display: flex;
    gap: 68px;
    padding: 0 50px;
}
nav a{
    height: 35px;
    display: flex;
    align-items: flex-end;
}

 nav a:hover{
    border-top:#0065fc 2px solid;
    color: #0065fc;
 }

 /*** Main ***/

 main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 50px;
    margin: 0 auto;
 }

/**Headline**/

 .headline{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

/*Search bar*/

 .search-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:49px;
    width:377px;
    border: 1px #f2f2f2 solid;
    border-radius: 15px;
 }
 
    .search-bar i{
        border: 1px #f2f2f2;
        border-radius: 15px 0px 0px 15px;
        background-color: #f2f2f2;
        width:50px;
        height:49px;
        display: flex;
        align-items:center;
        justify-content:center;
        font-size: 18px;
        color:#000000;
    }

    .search-bar form{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        height:49px;
    }
    

    .search-bar form input[type="search"]{
        border: none;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        height:49px;
        width: 100%;
        padding: 15px 16px 15px 16px;
        color:#000000;
        
    }
        ::placeholder {
            width: 100%;
            color: #000000;
            opacity: 1; /* because Firefox applies a lower opacity filter automatically */
        }

    .search-bar form input[type="submit"]{
        background-color: #0065fc;
        border: none;
        border-radius: 0px 15px 15px 0px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        height:49px;
        padding: 15px 16px 15px 16px;
        color:#ffffff;
        }

    .search-bar form input[type="submit"]:hover{
        cursor: pointer;
    }

/*Filter bar*/    

.filter-bar{
    display: flex;
    gap:15px;
    align-items: center;
    height: 50px;
}

.filter-bar button{
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;    
    height: 50px;
    padding: 4px 19px;
}

.filter-bar button i{
    color: #0065fc;
}
.filter-bar button:hover{
    background-color: #deebff;
}

.infoBar{
    height:24px;
    width:100%;
    display: flex;
    gap:10px;
}

    .infoBar i{
        color: #0065fc;
        border : 1px #d9d9d9 solid;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        font-size: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .infoBar p{
        display: flex;
        align-items: center;
    }

/**Hébergements & Populaires**/

.hebergements-and-populaires{
    display: flex;
    gap: 40px;
    width: 100%;
}

.hebergement-rating{
    display: flex;
}

.fa-solid.fa-star{
    font-size:12px;
    color: #0065fc;
}

.fa-solid.fa-star.unrated{
    font-size:12px;
    color: #f2f2f2;
}

/*Populaires section*/

.populaires{
    height: 100%;
    padding:30px;
    display: grid;
    gap:30px;
    border-radius: 15px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.populaires-title{
    display: flex;
    justify-content: space-between;
    width: 369px;
    height:26px;
}

.populaires-title i{
    color: #0065fc;
    font-size: 18px;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-template-rows: 146px 146px 146px;
}

.hebergement-card-popular{
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 369px;
    height: 146px;
    display : flex;   
    overflow: hidden;
    position: relative;  
}

.hebergement-card-popular img{
    width: 123px;
    height: 146px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    object-position:center;    
}

.card-info{
    padding:10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 226px;
    height: 85px;
}

.populaires h2{
    font-size: 16px;
}

.populaires p{
    font-size: 14px;
}

/*Hébergements à Marseilles section*/

.hebergements{
    height: auto;
    width: 100%;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.hebergements h1{
    height: 26px;
}

.hebergements-Marseille h2{
    font-size: 16px;
}

.hebergements-Marseille p{
    font-size: 14px;
}


.hebergements-Marseille {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacement entre les cards */
    justify-content: space-between; /* Distribution équilibrée des cards */
    height: 100%;
}

.card-container {
    flex: 1 1 calc(33.333% - 20px); /* Chaque card prend environ 1/3 de la ligne, moins l'espacement */
    max-width: calc(33.333% - 20px); /* Empêche les cards de dépasser la largeur */
    box-sizing: border-box; /* Inclut les bordures et le padding dans le calcul de la largeur */
}

.hebergement-card-marseille {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4px;
    overflow: hidden;
    position: relative;
}

.hebergement-card-marseille img {
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    object-position: center;   
}

.card-info-marseille {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}


/**Activités**/

.activities{
    width: 100%;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-sizing: border-box;
}

.activity-card h2{
    font-size: 16px;
    padding: 20px 19px;
}

.activities-Marseille {
    display: flex;
    flex-wrap: nowrap; /* Empêche le passage à la ligne */
    justify-content: space-between; /* Répartit les cards sur toute la largeur */
    gap: 30px; /* Espacement horizontal entre les cards */
    width: 100%;
    box-sizing: border-box;
}

.card-container-activities {
    flex: 1; /* Les cards s'étirent également */
    max-width: calc(25% - 30px); /* Chaque card occupe 1/4 moins l'espacement */
    box-sizing: border-box; /* Inclut le padding et les marges dans la largeur */
}

.activity-card{
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 100%;
    height: 439px;
    display : flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;  
}

.activity-card img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    object-position:center;   
}

/*** Footer ***/

footer{
    display: flex;
    margin: 35px 50px 0 50px;
    background-color: #f2f2f2;

 }

 footer section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    height: 100%;
 }

 footer h1{
    font-size: 18px;
 }

 footer a{
    font-size: 16px;
 }
