/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
  }
  
  :root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  
  .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color);
  }
  /*logo*/
  .logo {
    margin-top: 20px;
  }
  .Booki-Hébergements-Activités {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 80px;
   
  }
  
  /*Hebergements and Activités*/
  .Hébergements-and-Activités {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }
  /*Activités*/
  .Activités {
    color: black;
    margin-left: 40px;
  }
  
  /*hebergements*/
  .Hébergements {
    color: #105ed3;
    margin-bottom: 70px;
  }
  h1,p{
  font-size: 1em;
  text-align:justify;
  margin-bottom: 20px;
  }
  /*FORMULAIRE DE RECHERCHE*/
  .conteneur{
    display: flex;
    font:
      1rem 'Raleway Sans',
      sans-serif;
    
    
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  #location-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
    color: black;
    border: none;
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin-left: 5px ;
    cursor: pointer;

}
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color:#f2f2f2;
    background-color:#0065fc;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }






  
  
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
    
  }
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (max-width: 1024px) {
    .hebergements-and-populaires {
      flex-direction: column;
    }
  
    .hebergements {
      width: 100%;
    }
  
    .populaires {
      width: 100%;
      margin-top: 50px;
    }
  
    .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .populaires-cards a {
      width: 30%;
    }
  
    .populaires-cards .card-title {
      font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
      font-size: 13px;
    }
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    /* ... */
  }