/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: 1440px;
    min-width: 320px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 60px;
    height: 20px;
    padding: 30px 50px 30px 0px;
}

nav {
    display: flex;
    flex-direction: row;
    column-gap: 68px;
}

nav a {
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    height: 35px;
    border-top: solid 2px transparent;
}

nav a:hover {
    border-top: solid 2px #0065FC;
    color:#0065FC;
    box-shadow:
        inset 0 0px 4px 4px rgb(255,255,255),
        inset 0 2px 3px 0px rgba(50, 50, 50, 1);

}



/*Bloc recherche*/

.recherche {
    height: auto;
}

.bloc-recherche {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    margin-top: 35px;
}

.recherhe h1 {
    font-size: 22px;
}

.fa-location-dot {
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

form {
    display: flex;
    flex-direction: row;
}

.recherche input {
    height: 52px;
    border: #F2F2F2 solid 1px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.bloc-recherche button {
    display: flex;
    align-items: center;
    color: white;
    background-color: #0065FC;
    padding: 0 15px 0 15px;
    border: #0065FC 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    height: 52px;
}

.bouton-mobile {
    display: none;
}


/* Bloc filtres */

.filtres {
    margin: 35px 0 30px 0;
}

.filtres h3 {
    font-size: 18px;
}

.bloc-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 15px;
}

.boutons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 50px;   
}

.boutons button {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding : 4px 19px 4px 19px;
    font-weight: bold; 
    font-size: 17px;
    background-color: white;
}

.boutons button:hover {
    background-color: #DEEBFF;
}

.fa-gap {
    margin-right: 10px;
}

.nb-logements {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 35px;
}

.cercle {
    font-size: 10px;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 100%;

}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    max-width: 1440px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements a {
    width: 30%;
}

.hebergements-cards {
    max-width: 936px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 5px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: max-content;
}

.hebergements-cards .card-title {
    margin-top: 8px;
}
.hebergements-cards .card-subtitle {
    font-size: 0.9em;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*Activités*/
.activites {
    max-width: 100%;
    padding: 30px;
}

.bloc-activites {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.activites-card {
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.activites-card img {
    width:100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-card h3 {
    font-size: 16px;
    padding: 0 0 0 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #F2F2F2;
    padding: 20px 0 20px 15px;
}

ul {
    list-style: none;
    width: 33%;
    padding-left: 10px;
}

.titre-liste {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;;
}

li {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .bloc-filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        height: auto;
        }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        max-height: 200px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img {
        padding: 20px 0 20px 0;
        display: flex;
    }

    nav {
        max-width: 768px;
        width: 100%;
        column-gap: 0;
    }

    nav a {
        min-width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid transparent;
        align-items: flex-start;

    }
    nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
        box-shadow: none;
    }

    .bloc-recherche .bouton-desktop {
        display: none;
    }

    .bloc-recherche .bouton-mobile {
        display: flex;
    }

    .bloc-recherche .fa-magnifying-glass {
        color: white;
    }

    .bloc-recherche button {
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);

    }

    .recherche input {
        border: #F2F2F2 solid 1px;
        border-right: none;
        outline: none;
        font-size: 18px;
    }
}