/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.logo{
    height: 19px;
    margin: 30px 0;
}

.headline {
    margin: 30px 0;
}

.headline h1, p {
    margin: 10px 0 10px 0;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style-type: none;  /*fait disparaitre les puces de la liste */
    }

li{
    border-top: 2px solid white;
    padding-top: 10px;
    }

li:hover{
    border-top: 2px solid #0065FC;
    padding-top: 10px;
}

li a:hover{
    color: #0065FC;
}

a{
    color: black;
    text-decoration: none;   /* enleve les effets par défaut des liens */
}

.searchbar{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 377px;
    justify-content: space-around;
    align-items: center; 
}

.searchbutton{
    background-color: #0065FC;
    width: 135px;
    padding: 15px;
    height: 48px;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
}

.searcharea {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    height: 44px;
    width: 195px;
    border: 2px solid #F2F2F2;
}

.location-dot{
    display:flex;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
}

.filterbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    align-items: center;
}

.boutonfiltre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    border: #F2F2F2 2px solid;
    border-radius: 30px;
    padding: 8px 20px 8px 20px;
    height: 30px;  
}

.boutonfiltre:hover {
    background-color: #DEEBFF;
}

.zoneinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 1px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid:not(.fa-location-dot, .fa-magnifying-glass, .neutral-star) {
    color: var(--main-color);   /* on rajoute pseudo-class :not pour exclure des éléments du selecteur */
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;       /*Pour faire disparaitre la marge du haut*/
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-titleh3 {
    margin: 0;
    font-size: 18px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star{
    color: var(--main-bg-color)
}

.activites{
    padding-left: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 68%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 200px;
    margin-top: 30px;
}

.hebergements-cards img {
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* Activités *************/

.activites {
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
}

/*        *****activable au besoin si rajout d'icone******
.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/ 
.activites-cards {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.activites-cards .card {
    display: flex;
    margin-top: 30px;
    min-width: 300px;
    padding: 0;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    margin: 0;
    padding: 20px 0 20px 15px;
    box-sizing: border-box;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hebergements-cards .card {
        width: 30%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .searchbutton{
        width: 50px;
        height: 50px;
        border-radius: 20px;
    }
    span.icon {display: inline-block}
    span.text {display: none}          /* fait disparaitre le texte */
}

@media (min-width: 767.99px) {
    span.icon {display: none}
    span.text {display: inline-block} /* fait disparaitre l'icone */
}