/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    margin-block: 0;
    outline: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --ellipse: #D9D9D9;
}
.fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/**************************** body **********/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    border:2px solid cyan;
}
/***************************** body-container *********************/
.body-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    align-items: center;
    flex-shrink: 0;
    width: 1440px;
    height: 1889.019px;
    border: 2px solid cyan;
}
/************* Header *************************/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    width: 1440px;
    border: 2px solid blue;
}
nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 934.91px;
    height: 79px;
    width: 1440px;
}
nav ul {
    display: flex;
    padding: 0px 50px;
    flex-direction: row;
    align-items:center;
    gap: 68px;
    margin: 0;
}
nav li {
    display: flex;
    font-weight: 400;
    font-size: 0.9rem;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    padding: 15px 0;
    margin: 0;
}
.Logo-Reservia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 50px;
}
nav img {
height: 19px;
width: 61.09px;
}
nav li:first-child {
    color: var(--main-color);
}
nav li:first-child:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--main-color);
    transform: translateY(-14px);
}
nav li:hover:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--main-color);
    transform: translateY(-14px);
}
nav li:last-child:before {
    color: var(--main-color);
}
/************************** section body-desktop ***************/
.body-desktop {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    border: 2px solid red;
    width: 1440px;
    height: 1722px;
}
/******************* Section info group *************/
.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    width: 1340px;
    height: 281px;
}
.headline {
    display: flex;
    height: 53px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.headline h2 {
    align-self: stretch;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.headline h5 {
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
form {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    background: var(--White, #FFF);
    gap: 24px;
}
form .input-group-text {
    width: 50px;
    height: 49px;
    flex-shrink: 0;
}
form span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}
form i.fa-location-dot {
    color: black;
}
input {
    text-align: center;
    font-size: 18px;
    line-height: normal;
    font-weight: 700;
    border: none;
}
input::placeholder {
color: var(--Black, #000);
}
form button {
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap:10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue,#0065FC);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}
.FilterBar {
    display: flex;
    width: 792px;
    height: 50px;
    align-items: center;
    gap: 15px;
}
.FilterBar h3 {
    width: 54px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.FilterBar div {
display: flex;
align-items: center;
gap: 10px;
}
.FilterBar button {
    display: flex;
    height: 50px;
    width: 173px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9); 
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.FilterBar button:nth-child(4) {
    background: var(--blue-light, #DEEBFF);
}
.info-group p {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-group i.fa-info {
    width: 24px;
    height: 24px;
    border-radius: 25px;
    border: 1px solid var(--ellipse);
}
/********************** Section groupe ************************/
.groupe {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    width: 1340px;
    height: 614px;
    border: 2px solid blue;
}

.hebergements-and-populaires {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 1340px;
    height: 614px;
    flex: 1 0 0;
    align-self: stretch;
    border: 2px solid red;
}
.hebergements-and-populaires h2 {
    align-self: stretch;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid violet;
}
.card-haut {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    width: 811px;
    height: 208px;
    border: 2px solid red;
}
.card-haut .card {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 4px;
    flex: 1 0 0;
    width: 251px;
    height: 208px;
    border: 2px solid blue;
}
.card-haut .card img {
    height: 124px;
    width: 100%;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #FFF);
}
.card-haut .card-content {
    width: auto;
    height: 65px;
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border: 2px solid blue;
}

.card-haut .card-content h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}
.card-haut .card-content p {
    height: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
.card-haut .card-content .card-rating {
    display: flex;
    width: 81px;
    height: 13.25px;
    border: 2px solid red;
}

.card-bas {
    width: 811px;
    height: 208px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border: 2px solid red;
}
.card-bas .card {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    padding: 0px 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    gap: 4px;
    flex: 1 0 0;
    width: 251px;
    height: 208px;
    border: 2px solid blue;
}



.populaires {
border: 2px solid violet;
}






/*************************** Section activité ****************/
.activite {
    width: 1340px;
    height: 560px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
.activite h2 {
height: 30.02px;
font-size: 22px;
line-height: normal;
font-weight: 700;
align-self: stretch;
}
.activite h3 {
align-self: stretch;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.activite article.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 0;
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
}
.activite img {
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
a {
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}



div.card-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    flex: 1 0 0;
    border-radius: 15px;
    background: var(--Grey, #F2F2F2);
}
article.card a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 0, 0, 15px, 0;         
}
article.card img {
    height: 124px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #FFF); 
    background: lightgray 50% / cover no-repeat; 
}



/****** Populaires ***********/
#Titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50.825px;
    align-self: stretch;
}

i.fa-solid.fa-chart-line {
    width: 18px;
    height: 15.75px;
}

h2.section-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;  
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
   
}

h3.card-title {
align-self: stretch;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p.card-title {
align-self: stretch;
font-family: Raleway;
font-size: 14px;
font-style: normal;
line-height: normal;
}

.Card img {
width: 123px;
height: 146px;
border-radius: 20px 0px 0px 20px;
border-top: 5px solid var(--White, #FFF);
border-bottom: 5px solid var(--White, #FFF);
border-left: 5px solid var(--White, #FFF);
background: lightgray 50% / cover no-repeat;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards {
    width: 246px;
    height: 136px;
    padding: 10px 5px 5px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards {
    margin-bottom: 5px;
}

/******************** Activité - Ville ----------------------*/
.activite-ville {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/************************** Footer ****************************/
footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    color: var(--main-bg-color);
    list-style: none;
    width: 1340px;
    height: 163px;
    margin: 35px, 50px, 0, 50px;

}
footer .left-footer,
.middle-footer,
.right-footer {
width: 446px;
height: 163px;
display: flex;
align-items: flex-start;
padding: 20px;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 15px;
    width: 447px;
    height: 163px;
    color: black;
    padding: 0;
    flex: 1, 0, 0;
}
footer li {
padding: 0;
font-size: 16px;
font-weight: 400;
}
footer h3 {
padding: 0;
font-size: 18px;
color: black;
font-weight: 700;
line-height: normal;
}
footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
/***************** Section Populaires ***************/
    .populaires {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        width: 1340px;
        height: 560px;
        border: 2px solid green;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
