@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* 
^    set color variables 
*/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --light-blue : #DEEBFF;
    -blue : #0065FC;
    --light-blue : #DEEBFF;
    --grey : lightgrey;
    --dark-grey : dimgrey;
    --light-grey : #f2f2f2;
    --white: white;
    --green-fluo: #39FF14;
}
/*  
*   hidden <label> position for accessibility       
*/
.accessibility-label {
    position:absolute;
    left:-999px;
}

main, header, footer {
    max-width: 1400px;                      
    margin: 0 auto;                         
    padding : 0 15px;                       
}

body {
  display: flex;
  justify-content: center;

}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 15px;
 padding-left: 10px;
}
h3{
    margin-left: 40px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
 .line{
    color:#0065FC;
 }
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}


.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
  color: #0065FC;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}
.card .stars {
    margin-top: auto;
}



/***header nav ****/

header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    
}

header #logo {
    padding: 0;

}

header #logo img {
    width: 50px;
    padding-top: 20px;
}
/*****MENU NAV Hebergements ACTIVITES******/
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 25px;
    border-top: 2px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
    border-color: #256dd7;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color:#0065FC;
    
}

/* 
^----------------------
*      SEARCH BAR     
^----------------------
*/

form {
    display: inline-block;
    width: 50%;
}

form i {
    background-color:rgb(247, 243, 243);
    padding: 12px 12px;
    border-radius: 12px 0 0 12px;
    width: 50px;
}

form input {

    border: 1px solid var(--light-grey);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0 7px 10px;
    margin-left: -5px;
    width: 146px;
    height: 38px;  
}


form input::placeholder {
    color: black;
}


   form input:hover {
    background-color:var(--light-blue);
   }

form button {
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border: none;
    margin-left: -5px;
    
}
form button:hover {
    box-shadow: 1px 1px 10px var(--dark-grey);
     background-color:var(--light-grey);
     color:gray;
}
/* 
*       make the magnifying glass disappear 
*/
.fa-solid.fa-magnifying-glass {
    display: none;  
}


/***filtres**/

.filters {
    display: inline-flex;
    padding-top: 18px;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
 }
 
 .filters h3 {
    margin-right: 20px;
   margin-inline-start: 5px;
}


.btn-filter p {
    margin: 0;
    padding-right: 20px;
    cursor: pointer;

}

.btn-filter {
    font-weight: bold;
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    border-left: none;
}

.btn-filter:hover{
    background-color: var(--light-grey);
    box-shadow: 0  0  8px var(--blue);
    
}
  
.btn-filter .fa-solid {
    background-color: var(--main-bg-color);
    border-radius: 30px;
    color: #0065FC;
}
.btn-filter:hover{
    box-shadow: 10px 10px 8px var(--grey);
}


.btn-filter .fa-child-reaching {
    padding: 14px 17px 14px 17px;
    margin-right: 10px;
    color: var(--blue);
    color:#0065FC;
}


.btn-filter .fa-heart, .fa-dog, .fa-money-bill-wave {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;

}
/*
*        barre d'information
*/
#icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}  

.fa-solid.fa-info {
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    color: var(--blue);
    height: 25px;   
    width: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color:#0065FC;
}
  
/****Hebergements à Marseille**/
h2{
    font-size: 20px;
    font-weight: 2px 

}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

.box1{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(3px 3px 15px rgb(226, 219, 219));

}

.box1 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
}
.box1 .card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box1:hover{
        transform: scale(1.02);
        box-shadow: 0 0 8px var(--blue);
        cursor: pointer;
        background-color:var(--light-grey);
    }
    .card .stars {
        margin-top: auto;
    }
    
.box2{
    margin-top: 30px;
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}


.box2 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box2 .card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box2:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}


.card .stars {
    margin-top: auto;
}


.box3{
    margin-top: 30px;
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}


.box3 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));


}
.box3.card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box3:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}
.card .stars {
    margin-top: auto;
}

.box4{
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}


.box4 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box4.card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box4:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}

.card .stars {
    margin-top: auto;
}

.box5 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}


.box5.card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box5{
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box5:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}

.card .stars {
    margin-top: auto;
}


.box6{
    background-color: white;
    width: 201px; 
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}

.box6 img{
    
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));


}
.box6.card-content{
    border-radius: 0 0 20px  20px;
    padding: 5px; 
    filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));

}
.box6:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
    cursor: pointer;
    background-color:var(--light-grey);
}
.card .stars {
    margin-top: auto;
}


.card-rating{
    color:#0065FC;
    margin-left: 10px;
    padding-bottom: 10px;
}
h3.card-title{
margin:0px;
}
p.card-subtitle{
margin-top: 5px;
margin-bottom: 5px;
margin-left: 10px;
}

/****Activités à Marseille**/

div.gallery {
    border: 1px solid #ccc;
    border-radius: 12px 12px 12px 12px;
    filter: drop-shadow(3px 3px 15px rgb(226, 219, 219));
  }
  
  div.gallery:hover {
    border: 1px solid var(--green-fluo);
        transform: scale(1.02);
        cursor: pointer;
        background-color:var(--light-grey);
    }

  div.gallery img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 12px 12px 0 0;
    filter: drop-shadow( 3px 3px 15px rgb(226, 219, 219));
  }
  
  
  div.desc-1 { 
    padding: 15px;
    text-align: center;
  }
  div.desc-2 { 
    padding: 15px;
    text-align: center;
  }
  div.desc-3 { 
    padding: 15px;
    text-align: center;
  }
  div.desc-4{ 
    padding: 15px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
 



  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
 h4{
font-size: 20px;
padding-left: 10px;
 }
 .footer{
    width: 100%;
    margin-top: 420px;
    height: 200px;
    background-color: #f2f2f2;
   display: flex;
   justify-content:flex-start;
   align-items: baseline;
   gap:150px;
 }
 .footer-left{
    margin-left: 40px;
 }
.afficher{
    margin-top: 80px;
}
.left{
margin-left: 10px;
}
.right{
    margin-left: 10px;
}
.midle{
    margin-left: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px){
    .hebergements-and-populaires {
        flex-direction: column;
    }
   
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    div.gallery {
        max-width: 1000px;
        border: 1px solid #ccc;
        border-radius: 12px 12px 12px 12px;
        filter: drop-shadow(3px 3px 15px rgb(226, 219, 219));
      }
      div.desc-1{ 
        padding: 15px;
        text-align: center;
      }
      div.desc-2{ 
        padding-left:0px;
        padding-right: 0px;
        padding-top:15px ;
        padding-bottom:15px ;
        text-align: center;
      }
      div.desc-3 { 
        padding: 5px;
        text-align: center;
      }
      div.desc-4{ 
        padding: 5px;
        text-align: center;
      }
     .footer{
        height:auto;
        gap:80px;   
     }
    
.main-container{
    padding: 0px;
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

   section.hebergements{
    width: 100%;
    margin-left:10px ;
   }
   main{
    padding:0px ;
   }
   .main-container{
    padding: 0px;
    
   }
   .fa-solid.fa-magnifying-glass {
    display:flex;
    width: 40%;
    justify-content:center;
    background-color:#256dd7;
    color:#f2f2f2;
    border-radius: 0 10px 10px 0;
    margin-left: 200px;
    margin-top:-38px;
     padding-bottom:9x;
    
   }
   
   form button{
    display:none;
    cursor: pointer;

}
}
}