@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* @import url(header.css);
@import url(main.css);
@import url(footer.css); */

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --light-blue: #deebff;
  --blue: #0065fc;
  --light-grey: #f2f2f2;
  --white: white;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
.line {
  color: #0065fc;
}

/*******header********/
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

#logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}
header #logo img {
  width: 50px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style-type: none;
}
header nav ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 2px solid transparent;
}
header nav ul li:hover {
  border-color: #0065fc;
  color: #256dd7;
}
h1 {
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.titre-1 {
  display: flex;
  padding-left: 20px;
}

form {
  display: inline-block;
  width: 50%;
}

form i {
  background-color: rgb(247, 243, 243);
  padding: 12px 12px;
  border-radius: 12px 0 0 12px;
  width: 50px;
  padding-left: 20px;
}
form input {
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 0 7px 10px;
  margin-left: -5px;
  width: 146px;
  height: 39px;
}
input#search {
  width: 160px;
  padding-left: 25px;
}

form input:hover {
  background-color: var(--light-blue);
}

form input::placeholder {
  color: black;
}

form button {
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: var(--white);
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  border: none;
  margin-left: -5px;
}

form button:hover {
  box-shadow: 1px 1px 10px grey;
}

.fa-solid.fa-magnifying-glass {
  display: none;
}
.btn-search {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
/* 
  ^----------------------
  *       FILTERS     
  ^----------------------
  */

.filters {
  padding: 10px;
  display: flex;
  padding-top: 18px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.filters h3 {
  margin-right: 20px;
  padding-left: 20px;
}

.btn-filter p {
  margin: 0;
  padding-right: 20px;
  cursor: pointer;
}

.btn-filter {
  font-weight: bold;
  border: 1px solid lightgrey;
  border-radius: 30px;
  border-left: none;
}

.btn-filter:hover {
  background-color: #deebff;
  box-shadow: 0 0 8px var(--blue);
}

.btn-filter .fa-solid {
  background-color: var(--light-blue);
  border-radius: 30px;
  background-color: white;
}
.btn-filter .fa-solid:hover {
  background-color: #deebff;
  box-shadow: 0 0 8px var(--blue);
}

.btn-filter .fa-child-reaching {
  padding: 14px 17px 14px 17px;
  margin-right: 10px;
  color: #0065fc;
  background-color: white;
}

.btn-filter .fa-heart,
.fa-fire,
.fa-money-bill-wave {
  padding: 14px 14px 14px 14px;
  margin-right: 10px;
  color: #0065fc;
  background-color: white;
}

/*
  *        barre d'information
  **/
#icon-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.fa-solid.fa-info {
  border: 1.5px solid var(--light-grey);
  border-radius: 50%;
  color: #0065fc;
  height: 25px;
  width: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  background-color: var(--light-grey);
}

/*-------------------------------------------------
       Medium devices (tablets, less/equal than 1024px) 
       -----------------------------------------------------*/

@media (max-width: 1024px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .fa-solid.fa-magnifying-glass {
    display: none;
  }
}
/*-------------------------------------------------------------
    Medium devices (tablets, less/equal than 768px)
    -----------------------------------------------------------*/
@media (max-width: 768px) {
  .titre-Filtres {
    padding-right: 100%;
  }
}
/*-------------------------------------------------------
      Medium devices (tablets, less/equal than 767,98px)
      ---------------------------------------------------------*/
@media (max-width: 767.98px) {
  .fa-solid.fa-magnifying-glass {
    display: flex;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 0 10px 10px 0;
  }
  form button {
    display: none;
    cursor: pointer;
  }
  #logo {
    margin-left: 130px;
    margin-top: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header nav ul li {
    border-top: none;
    padding-right: 20px;
    border-bottom: 2px solid transparent;
    margin: 0px 20px 0px 20px;
  }

  header nav ul li:hover {
    border-color: #256dd7;
  }
  .btn-search {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 100%;
    margin-left: 20px;
    padding-right: 20px;
  }

  .filters {
    border: 1px solid red;
    display: flex;
    margin: auto;
    width: 90%;
  }
  .btn-search {
    padding: 0px 0px 0px 60px;
  }
  input#search {
    width: 180px;
    padding-left: 25px;
  }
  h1 {
    font-size: 26px;
    margin-top: 40px;
    padding-left: 20px;
  }
  header #logo img {
    width: 50px;
  }
}

/**********************
/******Main*************/
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  overflow-x: hidden;
}
.accessibility-label {
  position: absolute;
  left: -999px;
}
.section-title {
  margin: 0;
  font-size: 22px;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin-bottom: 10px;
}

main,
header,
footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-top: 30px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 15px;
  padding-left: 10px;
}
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
  color: #0065fc;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}
/****Hebergements à Marseille**/

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.box1 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(3px 3px 15px rgb(226, 219, 219));
}

.box1 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
}
.box1 .card-content {
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box1:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}

.box2 {
  margin-top: 30px;
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box2 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box2 .card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box2:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}
.box3 {
  margin-top: 30px;
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box3 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box3.card-content {
  border-radius: 0 0 20px 20px;

  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box3:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box4 {
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box4 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box4.card-content {
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box4:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box5 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box5.card-content {
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box5 {
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box5:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}

.card .stars {
  margin-top: auto;
}

.box6 {
  background-color: white;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}

.box6 img {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box6.card-content {
  border-radius: 0 0 20px 20px;
  filter: drop-shadow(0px 3px 15px rgb(226, 219, 219));
}
.box6:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px var(--blue);
  cursor: pointer;
  background-color: var(--light-grey);
}
.card .stars {
  margin-top: auto;
}

.card-rating {
  color: #0065fc;
  margin-left: 10px;
  padding-bottom: 10px;
}
h3.card-title {
  margin: 0;
}

p.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-rating {
  color: #0065fc;
  margin-left: 10px;
  padding-bottom: 10px;
}

p.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
/****Activités à Marseille**/

div.gallery {
  width: 100%;
  height: 250px;
  border-radius: 12px 12px 12px 12px;
}

div.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

div.desc {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.desc1 {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.desc2 {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

h6 {
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
}

h4 {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.afficher {
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/*------------------------------------------------------
      Medium devices (tablets, less/equal than 1024px) 
      -------------------------------------------------------*/

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .main-container {
    padding: 0px;
    width: 100%;
  }
  h4 {
    font-size: 15px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h6 {
    font-size: 11px;
    font-weight: bold;
    padding-left: 15px;
  }
  .afficher {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
  }
}
/*---------------------------------------------------
    Medium devices (tablets, less/equal than 767,98px)
    -------------------------------------------------------*/
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  .populaires-cards a {
    width: 98%;
  }

  section.hebergements {
    width: 100%;
    margin-left: 10px;
  }
  .container-grid {
    display: flex;
    flex-direction: column;
    column-gap: normal;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .populaires-cards {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  article.card {
    width: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
  }
  section.hebergements {
    background-color: white;
  }

  h4 {
    font-size: 15px;
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h6 {
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
  }
  .responsive {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .section-title {
    padding-left: 20px;
    font-size: 20px;
  }
  .afficher {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}
/***********************/
/******Footer***********/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  gap: 10%;
  margin-top: 300px;
  background-color: #f2f2f2;
}

.footer-left {
  margin-top: 20px;
  padding-left: 20px;
  line-height: 20px;
}
.footer-midle {
  margin-top: 20px;
  line-height: 20px;
}
.footer-right {
  margin-right: 400px;
  padding-left: 20px;
  margin-top: 20px;
  line-height: 20px;
}
p {
  font-size: 18px;
  margin-bottom: 10px;
}

/*---------------------------------------------------
      Medium devices (tablets, less/equal than 1024px) 
      ---------------------------------------------------*/

@media (max-width: 1024px) {
  .footer {
    height: auto;
    gap: 50px;
  }
  .footer {
    width: 100%;
    height: 170px;
    gap: 20px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
  }
  .footer-left {
    width: 288px;
    height: 163px;
    gap: 20px;
  }
  .footer-midle {
    margin-top: 20px;
  }
  .footer-right {
    margin-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
  }
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  /*--------------------------------------------------
    Medium devices (tablets, less/equal than 767,98px)
    ----------------------------------------------------*/
  @media (max-width: 767.98px) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      height: 399px;
      width: 100%;
      margin-top: 20px;
      gap: 30px;
    }
    .footer-left.p {
      font-size: 30px;
      margin-top: 20px;
      line-height: 50px;
    }

    .footer-midle.p {
      font-size: 30px;
      margin-left: 20px;
      margin-top: 20px;
    }
    .footer-right.p {
      font-size: 30px;
      margin-left: 20px;

      margin-top: 20px;
    }
    .footer-right {
      margin: 0px;
    }
    .footer-midle {
      margin-left: 20px;
    }
    P {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .afficher {
      margin-top: 15px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

/**********************/
